@{
    ViewBag.Title = "Home Page";
}

<h4 style="color: #C31014; margin-left: 80%;">@ViewBag.Time</h4>

<div class="jumbotron" style= "background-image: url(../Images/bill.jpg); background-size: 100% 100%; color: #D3D3D3; margin-top: 10px;">
    <br/><br/><br /><br /><br />
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Liverpool Football Club</h1>
        <p>
            Liverpool Football club is one of England's most successful teams that boasts 18 League Titles, 5 European Cups, 7 FA Cups, 8 League Cups and 3 UEFA Cups.
            The club was founded in 1892 and joined the Football League the following year. They have played at Anfield since its formation. Liverpool established itself as a major force in both English and European football during the 1970s and '80s when Bill Shankly and Bob Paisley led the club to 11 League titles and seven European trophies. Under the management of Rafa Benítez and captained by Steven Gerrard Liverpool re-emerged as European champions once again, winning the 2005 UEFA Champions League Final against Milan in spite of being 3–0 down at half time.
            Liverpool was the ninth highest-earning football club in the world for 2013–14, with an annual revenue of €306 million, and the world's eighth most valuable football club in 2015, valued at $982 million. The club holds many long-standing rivalries, most notably with Manchester United and the Merseyside derby with Everton.
            The club's supporters have been involved in two major tragedies. The first was the Heysel Stadium disaster in 1985, where escaping fans were pressed against a collapsing wall in the Heysel Stadium, with 39 people—mostly Italians and Juventus fans—losing their lives, after which English clubs were given a five-year ban from European competition. The second was the Hillsborough disaster in 1989, where 96 Liverpool supporters lost their lives in a crush against perimeter fencing. The team changed from red shirts and white shorts to an all-red home strip in 1964 which has been used ever since. The club's anthem is "You'll Never Walk Alone".
        </p>
    </div>
    <div class="col-md-4">
        <div style="float: right;">
            <a class="twitter-timeline" href="https://twitter.com/LFC" data-widget-id="663019451940478976">Tweets by @@LFC</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>